{
    "url": "${NODEBB_URL}",
    "port": "${NODEBB_PORT}",
    "secret": "${NODEBB_SECRET}",
    "database": "mongo",
    "mongo": {
        "host": "${MONGO_HOST}",
        "port": "${MONGO_PORT}",
        "username": "${MONGO_USERNAME}",
        "password": "${MONGO_PASSWORD}",
        "database": "${MONGO_DATABASE}"
    },
    "socket.io": {
        "transports": ["websocket"]
    }
}

